<?xml version="1.0"?>
<launch>

  <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find flight_space_mapping)/models"/>
  <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find flight_space_mapping)/models"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find flight_space_mapping)/worlds/Goheung_center_upgrade.world" />
  </include>
</launch>
